@section Header{ <h1 class="title-details">Thanks</h1>}

<div class="text-center">
    <h1>Thank you for your purchase :)</h1>
    <a asp-action="HomePage" asp-controller="Home" class="h3">Back to home screen</a>
</div>
