@section Header{ <h1 class="title-details">About Us</h1>}

<div>Here at SPH6 we have a passion for second hands socks. Granted this is a novel undertaking and only prempted by an immenent project 
    that was due, yet nevertheless it is important.</div>