@model Product

@section Header{ <h1 class="title-details">SPH6 HOME</h1>}

<div class="text-center">
    <h1 class="display-4">Welcome To Second Hand Socks ;)</h1>
    <p>The internet's permier non-existent (as of yet) second hand socks website!</p>
</div>

@await Html.PartialAsync("Products/_PartialProductDisplay")

